.corpo{
	background: rgb(27,126,242);
	background: linear-gradient(90deg, rgba(27,126,242,1) 9%, rgba(12,69,135,1) 26%, rgba(12,69,135,1) 70%, rgba(27,126,242,1) 92%);
}
.corpo_menu{
	background-color: white;
}
.div_login{
	margin-top: 5vh;
	width: 70vh;
	height: 70vh;
	background-color: #F0F8FF;
	position: relative;
}
.div_altsenha {
	background-color: white;
	margin-top: 25vh;
	width: 50vh;
	height: 50vh;
	background-color: #F0F8FF;
	position: relative;
}
.titulo_senha{
	color: #2191d0;
	font-size: 4vh;
	font-weight: 700;
	margin-top: 6vh;
	font-family: sans-serif;

}
.input_senha{
	float: center
	height: 7.7vh;
	width: 40vh;
	margin-top: 55px;
	background-color: #E6E6FA;
	border:none;
	color: #2191d0;
	text-decoration-color: #2191d0;
	font-size: 3vh;
	font-family: sans-serif;

}
.input_alteracao{
	float: center
	height: 5vh;
	width: 40vh;
	background-color: #E6E6FA;
	border:none;
	color: #2191d0;
	text-decoration-color: #2191d0;
	font-size: 3vh;
	font-family: sans-serif;
	}

.submit_senha {
	background-color: #2191d0;
	border-radius: 5px;
	border: none;
	color: white;
	height: 30px;
	width: 18vh;
	font-family: sans-serif;

}
.div_nome_empresa{
	background-color: #ffefbd;
	margin-top: -10px;
	margin-right: -10px;
	margin-left: -10px;
}
.submit{
	background-color: #2191d0;
	border-radius: 5px;
	border: none;
	color: white;
	height: 40px;
	width: 49vh;
	font-family: sans-serif;
}
.label{
	float: left;
	margin-left: 50px;
	margin-bottom: 5px;
}
.tabela{
	width: 100%;
	border-collapse: collapse;
	position: sticky;
  top: -5px;
  border: none;
  border-spacing: 1;
  z-index: 5;
  width: 100%;
  min-height: 50px;
}

.tr{
  border: none;
  text-align: center;
  position: sticky;
  color: black;
  box-shadow: -1px -10px 1px black;
  outline: none;
  top: 0;
  height: 40px;
  line-height: normal;
  z-index: 1;
  width: 18%;
  font-family: sans-serif;
  background-color: rgba(114,205,249,1);
  border: 1px solid black;
}
.td{
	border: 1px solid black;
	width: 150px;
	height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}
.tr2{
	font-family: sans-serif;
    border: 1px solid black;
}
.td2{
    border: 1px solid black;
    background-color: #E6E6FA;
	max-width: 500px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 75px;
}
#h1 {
  font-family: sans-serif;
}
.div_menu{
	text-align: center;
	font-size: 50px;
	margin-left: 4%;
	margin-right: 4vh;
	margin-top: 10vh;
	background-color: #E6E6FA;
	width: 23vh;
	height: 23vh;
	border: none;
	border-radius: 20px;
	box-shadow: 5px 5px 10px #2191d0;
}
#td_especial:hover{
	height: 100;
}
.div_menu:hover {
    transform: scale(1.1);
    border: none;
    background-image: linear-gradient(30deg, rgb(250, 201, 108) 25%, rgb(228, 228, 80) 25%, rgb(228, 228, 80) 75%, rgb(162, 191, 121) 75%);
    background-size: 900%;
    background-position: left;
}
.div_menu_maior{
	margin-top: 8%;
	margin-bottom: 10%;
	width: 85%;
	height: 50vh;
	background-color: white;
	border-radius: 2vh;
	box-shadow: 10px 10px 100px #2191d0;
}
.letra_div{
	margin-bottom: 1vh;
	margin-top: -4vh;
	font-size: 2.5vh;
}
.div_icone{
	margin-top: 2vh;
}
a{

	color: inherit;
}
.div_add_user{
	float: right;
	width: 40px;
	height: 40px;
	background-color: white;
	border: 1px solid;
	border-radius: 60px;
	margin-right: 40px;
}
.div_icone_2{
	margin-top: 10px;
	font-size: 20px;
}
.magica{
	background-color: #2191d0;
	height: 6vh;
	align-items: center;
	text-align: center;
	font-size: 3vh;
	margin-top: -10px;
	margin-right: -10px;
	margin-left: -10px;
	padding-top: 10px;
	font-family: sans-serif;
}
.magica_erro{
	background-color: #FF0000;
	height: 6vh;
	align-items: center;
	text-align: center;
	font-size: 3vh;
	margin-top: -10px;
	margin-right: -8px;
	margin-left: -10px;
	padding-top: 10px;
	font-family: sans-serif;
	border: none;
}
.titulo_login{
	color: #2191d0;
	float: left;
	font-size: 10vh;
	margin-top: -1vh;
	margin-bottom: 6vh;
	margin-left: 10vh;
	font-family: sans-serif;
}
.img_cadeado{
	width: 5.5vh;
	height: 5.5vh;
	margin-top: 1vh;
}
.img_user{
	width: 4.5vh;
	height: 4.5vh;
	margin-top: 2vh;
	display: inline;
}
.div_label{
	float: left;
	background-color: #2191d0;
	width: 8vh;
	height: 8vh;
}
.form{
	margin-top: 10vh;
	margin-left: 10vh;
	margin-right: 10vh;

}
.input{
	display: inline;
	float: left;
	height: 7.7vh;
	width: 40vh;
	background-color: #E6E6FA;
	border: none;
	color: #2191d0;
	text-decoration-color: #2191d0;
	font-size: 3vh;
	padding-left: 10px;
	font-family: sans-serif;
}
.input::-webkit-input-placeholder{
	color: #2191d0;
}
.div_login_esp{
	margin-bottom: 3vh;
}
.div_submit{
	margin-top: 10vh;
	margin-right: 5vh;
}
.linha{
	background: rgb(27,126,242);
	background: linear-gradient(90deg, rgba(27,126,242,1) 9%, rgba(12,69,135,1) 26%, rgba(12,69,135,1) 70%, rgba(27,126,242,1) 92%);
	height: 2vh;
	width: 900vh;
	border: none;
	margin-left: -4vh;
}
img{
	margin-top: 4vh;
	max-width: 13vh;
}
.titulo_solicitacao{
	color: #2191d0;
	font-size: 8vh;
	margin-top: 1vh;
	margin-bottom: 6vh;
	font-family: sans-serif;
}
.titulo_solução{
	color: #2191d0;
	float: center;
	font-size: 8vh;
	margin-top: 1vh;
	margin-bottom: 6vh;
	font-family: sans-serif;

}
.submit_solicitacao{
	background-color: #2191d0;
	border-radius: 5px;
	border: none;
	color: white;
	height: 7vh;
	width: 60vh;
	font-family: sans-serif;
	font-size: 3vh;
}
.div_solicitacao{
	margin-top: 5vh;
	background-color: white;
	height: 80vh;
	width: 70vh;
}
.area_solicitacao{
  position:relative;
  width:58.5vh;
  height:40vh;
  background-color: #E6E6FA;
  font-family: sans-serif;
  border: none;
  padding-top: 5vh;
  font-size: 4vh;
  resize: none;
}
.div_tabela_andamento {
	margin-top: 12vh;
	height: 63.5vh;
	min-width: 90%;
	max-width: 90%;
	background-color:#E6E6FA;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0 1px 10px 1px black;
}
.finalizar_img{
	margin-top: 0vh;
	margin-left: 7.5vh;
	height: 7vh;
	width: 7vh;
}
::-webkit-scrollbar {
width:10px;
height: 10px;
}


::-webkit-scrollbar-track {
background:#333;
}

::-webkit-scrollbar-thumb {
background: #2e9dd8;
}
.lixeira {
	width: 45px;
	height: 45px;
	margin-left: 33.5%;
	margin-top: 0%;
}
.lapis {
	width: 45px;
	height: 45px;
	margin-left: 28.8%;
	margin-top: 0%;
}
.td_editar{
	border: 1px solid black;
    width: 10px;
	background-color: #E6E6FA;
}
.td_excluir{
	border: 1px solid black;
	width: 10px;
	background-color: #E6E6FA;
}
.td_editar2{
	border: 1px solid black;
    width: 10px;
	background-color: rgba(114,205,249,1);
}
.td_excluir2{
	border: 1px solid black;
	width: 10px;
	background-color: rgba(114,205,249,1);
}
.td_atualizar_senha{
	border: 1px solid black;
    width: 10px;
	background-color: #E6E6FA;
}
.td_atualizar_senha2{
	border: 1px solid black;
    width: 10px;
	background-color: rgba(114,205,249,1);
}
.imagem_cadeado{
	margin-top: 2%;
	margin-left: 34%;
	width: 45px;
	height: 45px;
}