.corpo{
	background: rgb(27,126,242);
	background: linear-gradient(90deg, rgba(27,126,242,1) 9%, rgba(12,69,135,1) 26%, rgba(12,69,135,1) 70%, rgba(27,126,242,1) 92%);
}
.corpo_menu{
	background-color: white;
}
.div_login{
	margin-top: 5vh;
	width: 70vh;
	height: 70vh;
	background-color: #F0F8FF;
	position: relative;
}
.div_nome_empresa{
	background-color: #ffefbd;
	margin-top: -10px;
	margin-right: -10px;
	margin-left: -10px;
}
.submit{
	background-color: #2191d0;
	border-radius: 5px;
	border: none;
	color: white;
	height: 40px;
	width: 49vh;
	font-family: sans-serif;
}
.label{
	float: left;
	margin-left: 50px;
	margin-bottom: 5px;
}
.tabela{
	border-collapse: collapse;
}
.tr{
	background-color: #ffefbd;
	border: 1px solid black;
}
.td{
	border: 1px solid black;
	width: 200px;
	height: 40px;
	max-width: 500px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}
.tr2{
    border: 1px solid black;
}
.td2{
    border: 1px solid black;
    background-color: white;
		max-width: 500px;
		overflow: hidden;
	text-overflow: ellipsis;


}
#h1 {
  font-family: sans-serif;
}
.div_menu{
	text-align: center;
	font-size: 50px;
	margin-left: 2vh;
	margin-right: 4vh;
	margin-top: 10vh;
	background-color: #E6E6FA;
	width: 26vh;
	height: 26vh;
	border: none;
	border-radius: 20px;
	box-shadow: 5px 5px 10px #2191d0;
}
.div_menu:hover {
    transform: scale(1.1);
    border: none;
    background-image: linear-gradient(30deg, rgb(250, 201, 108) 25%, rgb(228, 228, 80) 25%, rgb(228, 228, 80) 75%, rgb(162, 191, 121) 75%);
    background-size: 900%;
    background-position: left;
}
.div_menu_maior{
	margin-top: 15vh;
	width: 170vh;
	height: 50vh;
	background-color: white;
	border-radius: 2vh;
	box-shadow: 10px 10px 100px #2191d0;
}
.letra_div{
	margin-bottom: 1vh;
	margin-top: -4vh;
	font-size: 2.5vh;
}
.div_icone{
	margin-top: 2vh;
}
a{

	color: inherit;
}
.div_add_user{
	float: right;
	width: 40px;
	height: 40px;
	background-color: white;
	border: 1px solid;
	border-radius: 60px;
	margin-right: 40px;
}
.div_icone_2{
	margin-top: 10px;
	font-size: 20px;
}
.magica{
	background-color: #ffefbd;
	margin-top: -10px;
	margin-right: -10px;
	margin-left: -10px;	background-color: #ffefbd;
}
.titulo_login{
	color: #2191d0;
	float: left;
	font-size: 10vh;
	margin-top: -1vh;
	margin-bottom: 6vh;
	margin-left: 10vh;
	font-family: sans-serif;
}
.img_cadeado{
	width: 5.5vh;
	height: 5.5vh;
	margin-top: 1vh;
}
.img_user{
	width: 4.5vh;
	height: 4.5vh;
	margin-top: 2vh;
	display: inline;
}
.div_label{
	float: left;
	background-color: #2191d0;
	width: 8vh;
	height: 8vh;
}
.form{
	margin-top: 10vh;
	margin-left: 10vh;
	margin-right: 10vh;

}
.input{
	display: inline;
	float: left;
	height: 7.7vh;
	width: 40vh;
	background-color: #E6E6FA;
	border: none;
	color: #2191d0;
	text-decoration-color: #2191d0;
	font-size: 3vh;
	padding-left: 10px;
	font-family: sans-serif;
}
.input::-webkit-input-placeholder{
	color: #2191d0;
}
.div_login_esp{
	margin-bottom: 3vh;
}
.div_submit{
	margin-top: 10vh;
	margin-right: 5vh;
}
.linha{
	background: rgb(27,126,242);
	background: linear-gradient(90deg, rgba(27,126,242,1) 9%, rgba(12,69,135,1) 26%, rgba(12,69,135,1) 70%, rgba(27,126,242,1) 92%);
	height: 2vh;
	width: 900vh;
	border: none;
	margin-left: -4vh;
}
img{
	margin-top: 4vh;
	max-width: 13vh;
}
.titulo_solicitacao{
	color: #2191d0;
	float: left;
	font-size: 10vh;
	margin-top: 1vh;
	margin-bottom: 6vh;
	margin-left: 10vh;
	font-family: sans-serif;
}
.submit_solicitacao{
	background-color: #2191d0;
	border-radius: 5px;
	border: none;
	color: white;
	height: 7vh;
	width: 66vh;
	font-family: sans-serif;
	font-size: 3vh;
}
.div_solicitacao{
	margin-top: 5vh;
	background-color: white;
	height: 80vh;
	width: 80vh;
}
.area_solicitacao{
  position:relative;
  width:58.5vh;
  height:40vh;
  background-color: #E6E6FA;
  font-family: sans-serif;
  border: none;
  padding-left: 5vh;
  padding-top: 5vh;
  padding-right: 3vh;
  font-size: 4vh;

}